In [5]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
from sklearn.ensemble import RandomForestRegressor 

data = pd.read_csv("DOGE-USD.csv") 
data.head()

         Date      Open      High       Low     Close  Adj Close     Volume
0  2017-11-09  0.001207  0.001415  0.001181  0.001415   0.001415  6259550.0
1  2017-11-10  0.001421  0.001431  0.001125  0.001163   0.001163  4246520.0
2  2017-11-11  0.001146  0.001257  0.001141  0.001201   0.001201  2231080.0
3  2017-11-12  0.001189  0.001210  0.001002  0.001038   0.001038  3288960.0
4  2017-11-13  0.001046  0.001212  0.001019  0.001211   0.001211  2481270.0

In [6]:
data.corr()

ValueError: could not convert string to float: '2017-11-09'

In [ ]:
data['Date'] = pd.to_datetime(data['Date'], 
                              infer_datetime_format=True) 
data.set_index('Date', inplace=True) 
  
data.isnull().any()

In [ ]:
data.corr()

In [ ]:
data.isnull().sum()

In [ ]:
data = data.dropna()

In [ ]:
data.describe()

In [ ]:
plt.figure(figsize=(20, 7)) 
x = data.groupby('Date')['Close'].mean() 
x.plot(linewidth=2.5, color='b') 
plt.xlabel('Date') 
plt.ylabel('Volume') 
plt.title("Date vs Close of 2021")

In [ ]:

data["gap"] = (data["High"] - data["Low"]) * data["Volume"] 
data["y"] = data["High"] / data["Volume"] 
data["z"] = data["Low"] / data["Volume"] 
data["a"] = data["High"] / data["Low"] 
data["b"] = (data["High"] / data["Low"]) * data["Volume"] 
abs(data.corr()["Close"].sort_values(ascending=False))

In [ ]:
data = data[["Close", "Volume", "gap", "a", "b"]] 
data.head()

In [ ]:
df2 = data.tail(30) 
train = df2[:11] 
test = df2[-19:] 
  
print(train.shape, test.shape)

In [ ]:
from statsmodels.tsa.statespace.sarimax import SARIMAX 
model = SARIMAX(endog=train["Close"], exog=train.drop( 
    "Close", axis=1), order=(2, 1, 1)) 
results = model.fit() 
print(results.summary())

In [ ]:
start = 11
end = 29
predictions = results.predict( 
    start=start, 
    end=end, 
    exog=test.drop("Close", axis=1)) 
predictions

In [ ]:
test["Close"].plot(legend=True, figsize=(12, 6)) 
predictions.plot(label='TimeSeries', legend=True)

# TKinter Testing #

In [2]:
import tkintera
tkinter._test()

In [3]:
tkinter.Tcl().eval('info patchlevel')

'8.6.9'

In [5]:
from tkinter import *
from tkinter import ttk

def calculate(*args):
    try:
        value = float(feet.get())
        meters.set(int(0.3048 * value * 10000.0 + 0.5)/10000.0)
    except ValueError:
        pass

root = Tk()
root.title("Feet to Meters")

mainframe = ttk.Frame(root, padding="3 3 12 12")
mainframe.grid(column=0, row=0, sticky=(N, W, E, S))
root.columnconfigure(0, weight=1)
root.rowconfigure(0, weight=1)

feet = StringVar()
feet_entry = ttk.Entry(mainframe, width=7, textvariable=feet)
feet_entry.grid(column=2, row=1, sticky=(W, E))

meters = StringVar()
ttk.Label(mainframe, textvariable=meters).grid(column=2, row=2, sticky=(W, E))

ttk.Button(mainframe, text="Calculate", command=calculate).grid(column=3, row=3, sticky=W)

ttk.Label(mainframe, text="feet").grid(column=3, row=1, sticky=W)
ttk.Label(mainframe, text="is equivalent to").grid(column=1, row=2, sticky=E)
ttk.Label(mainframe, text="meters").grid(column=3, row=2, sticky=W)

for child in mainframe.winfo_children(): 
    child.grid_configure(padx=5, pady=5)

feet_entry.focus()
root.bind("<Return>", calculate)

root.mainloop()

In [1]:
rang=list(range(9))
print(rang)

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [2]:
print(*rang)

0 1 2 3 4 5 6 7 8